# Ignore everything
*

# Allow Python scripts
!/*.py

# Allow the .gitignore file itself
!.gitignore
!.vscode/
!.vscode/*

# Explicitly ignore specific Python files
my_pc_encoder_only_transformer.py
my_pc_test_pynncml.py
test_informer.py

# Explicitly ignore the entire data folder
data/

# Optional: ignore typical dev clutter
.DS_Store
__pycache__/
*.pyc
.idea/
.venv/



